html, body {
    width: 1400px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.menu-logo {
    width: 127px;
    height: 21px;
}

.menu-nav a {
    color: #121212;
    margin-left: 60px;
}

.menu-nav a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

.main-info {
    margin-top: 70px;
}
.main-info h1 {
    max-width: 990px;
    font-size: 60px;
    line-height: 60px;
}
.main-img {
    margin-top: 30px;
    background-image: url("../resources/Rectangle\ 1.jpg");
    background-repeat: no-repeat;
    width: 1150px;
    height: 500px;
}
.main-img-title {
    color: white;
    max-width: 450px;
    margin-left: 40px;
    padding-top: 379px;
    font-size: 20px;
    line-height: 27px;
}

.sub-title {
    font-size: 18px;
    line-height: 25px;
}

.sub-title h2 {
    margin-top: 150px;
}

.about-text {
    margin-top: 30px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
}

.about-button {
    padding: 20px 40px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 27px;
    color: white;
    background-color: #ad1818;
    border: 1px solid #ad1818;
    border-radius: 5px;
}

.about-button:hover {
    background-color: white;
    color: #ad1818;
    cursor: pointer;
}

.projects-items {
    margin-top: 90px; 
}

.projects-item {
    padding-bottom: 90px;
}

.projects-item-img {
    width: 1150px;
    height: 450px;
    padding-bottom: 15px;
}

.projects-item-title {
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
}

.projects-item-link {
    color: #ad1818;
}

.projects-button {   
    width: 1150px;
    height: 153px;
    color: #ad1818;
    background-color: white;
    border: 1px solid #ad1818;
    border-radius: 5px;
    padding: 56px auto;
    font-size: 30px;
    line-height: 41px;
}

.projects-button:hover {
    color: white;
    background-color: #ad1818;
    cursor: pointer;
}

.services {
    background-color: #121212;
    color: white;
    margin-top: 150px;
    padding-top: 151px;
    padding-bottom: 150px;
}

.services-sub-title {
    font-size: 18px;
    line-height: 25px;
}

.services-item {
    margin-top: 60px;
}

.services-item-img {
    width: 1150px;
    height: 270px;
    padding-bottom: 15px;
}

.services-item-title {
    font-size: 30px;
    line-height: 41px;
}

.final-img {
    background-image: url("../resources/Rectangle\ 10.jpg");
    background-repeat: no-repeat;
    width: 1400px;
    height: 717px;
}

.final-item-title {
    color: white;
    padding-top: 575px;
    max-width: 443px;
    font-size: 30px;
    line-height: 41px;
}

.contacts {
    padding-top: 150px;
    padding-bottom: 150px;
}

.contacts-logo {
    margin-bottom: 12px;    
}

.contacts-sub-title {
    font-size: 18px;
    line-height: 25px;
}

.contacts-number {
    margin-top: 32px;
    margin-bottom: 30px;
}

.contacts-number-text {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.contacts-email-text {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
}

.email-line {
    margin-top: 10px;
    width: 436px;
    height: 2px;
    background-color: #121212;
    opacity: 0.5;
}

.footer {
    background-color: #121212;
    color: white;
    
}

.footer-menu {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
 }

 .footer-nav {
    width: 399px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 87px;
    font-size: 18px;
    line-height: 25px;
}

.footer-nav a {
    color: white;
}

.footer-nav a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.footer-text {
    opacity: 0.5;
    font-size: 20px;
    line-height: 27px;
}
